.tab {
  position: relative;
  padding: 6px 26px 6px 16px;
  margin-right: 5px;
  background-color: #fff;
}
.tab .tab-link {
  color: rgba(0, 0, 0, 0.85);
}
.tab-close {
  position: absolute;
  right: 6px;
  top: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
  transition: transform 0.2s;
  margin-left: 5px;
}
.tab-close:hover {
  transform: scale(1.1);
}
.tab.active .tab-close {
  color: #9e4b35;
}
.tab.active .tab-link {
  color: #9e4b35;
}
